<h1>All Summaries</h1>
<% @summaries.each do |summary| %>
  <p><%= link_to post.title, post %></p>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>
